{% extends 'base.html' %}
{% load static %}

{% block title %}Collections{% endblock title %}
{% block content %}
<div class="bg-body" style="padding-top: 10%; width: 610%">
    {% for collection in collections %}
      <div class="my-5 p-3 bg-white rounded box-shadow text-center">
        <h6 class="border-bottom border-gray pb-2 mb-0">{{ collection.name }}</h6>
        <div class="media text-muted pt-3">
            {% for avatar in collection.images %}
                <img src="/media/{{ avatar.image }}" alt="{{ avatar.name }}" class="mr-2 rounded" width="280">
                <a href="{% url 'delete_image' avatar.id %}" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                    </svg>
                </a>
            {% endfor %}
          <small class="d-block text-right mt-3">{{ collection.date_created }}</small><br>
          <a href="{% url 'delete_collection' collection.id %}" class="btn btn-outline-danger">Delete collection</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock content %}